
  <!-- LOADER -->
  <div id="preloader">
    <div id="main-ld">
        <div id="loader"></div>  
    </div>
  </div><!-- end loader -->
  <!-- END LOADER -->

  <div class="topbar text-center hidden-xs">
    <p>This site uses cookies. By continuing to browse Jofem, you are agreeing to use our site cookies. <a href="#">Find out more here ></a></p>
  </div>

  <header class="header header_style_01">
    <nav class="megamenu navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="./assets/images/logos/logo.png" alt="image"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-scroll-nav="0" routerLink="/welcome" class="active">Home</a></li>
                    <li><a data-scroll-nav="1" routerLink="/categories">Categories</a></li>
                    <li><a data-scroll-nav="2" routerLink="/books">Books</a></li>
                    <!-- <li><a data-scroll-nav="3" href="#event">Event</a></li>
                    <li><a data-scroll-nav="4" href="#gallery">Gallery</a></li>
                    <li><a data-scroll-nav="5" href="#media">Multimedia</a></li>
                    <li><a data-scroll-nav="6" href="#blog">Blog</a></li> -->
                    <li><a data-scroll-nav="7" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
  </header>

<router-outlet></router-outlet>



<div class="copyrights" style="position:absolute;bottom: 0px;">
  <div class="container">
      <div class="footer-distributed">
          <div class="footer-left">
              <p class="footer-links">
                  <a href="#">Home</a>
                  <a href="#">Blog</a>
                  <a href="#">Pricing</a>
                  <a href="#">About</a>
                  <a href="#">Faq</a>
                  <a href="#">Contact</a>
              </p>
              <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">Elpolitic</a> Design By : 
              <a href="https://html.design/">html design</a></p>
          </div>

          <div class="footer-right">
              <form method="get" action="#">
                  <input placeholder="Subscribe our newsletter.." name="search">
                  <i class="fa fa-envelope-o"></i>
              </form>
          </div>
      </div>
  </div>
</div>
